//nav
//    ul.u-d-fx.u-jc-sb.u-bc-blue
//        li.u-text-center.u-w-25.p-nav
//            a(href=pages.content_a.url).u-color-white.u-d-b #{pages.content_a.name}
//        li.u-text-center.u-w-25.p-nav
//            a(href=pages.content_b.url).u-color-white.u-d-b #{pages.content_b.name}
//        li.u-text-center.u-w-25.p-nav
//            a(href=pages.content_c.url).u-color-white.u-d-b #{pages.content_c.name}
//        if content_d_state=="public"
//            li.u-text-center.u-w-25.p-nav
//                a(href=pages.content_d.url).u-color-white.u-d-b #{pages.content_d.name}
//        else if content_d_state=="comingsoon"
//            li
//                img(src=image_path+"/shared/nav_content_d_comingsoon.png" alt=pages.content_d.name+" Coming Soon...")